@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  height: 100vh;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background:
    url("../assets/img/bg.jpg") center/cover,
    rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 10px;
}

.player {
  transition: all 0.5s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-list > * {
  padding: 2px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  row-gap: 5px;
  width: 300px;
  min-height: 180px;
  text-align: left;
  transition: all 0.5s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: "Arial-MT";
  font-size: 100px;
  letter-spacing: -4px;
  transition: all 0.5s;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: all 0.5s;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  transition: all 0.5s;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

li {
  list-style: none;
}

.li-active {
  color: yellow;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.timeline {
  cursor: pointer;
  width: 100%;
  background-color: white;
  height: 5px;
}

.progress {
  height: 100%;
  width: 0;
  background-color: violet;
}

.controls-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-track {
  display: flex;
}

.play-small {
  width: 30px;
  height: 30px;
  background-image: url("../assets/svg/playSVG32-1.svg");
}

.pause-small {
  width: 30px;
  height: 30px;
  background-image: url("../assets/svg/pause32SVG-1.svg");
}

.play-container {
  cursor: pointer;
}

.controls-player {
  min-width: 300px;
}

.track-name {
  padding: 5px 0;
  height: 30px;
}

/* volume */

.volume-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-slider {
  height: 5px;
  width: 100px;
  background-color: white;
  cursor: pointer;
}

.volume-icon {
  height: 30px;
  width: 30px;
  background-image: url("../assets/svg/volumeSVG32.svg");
}

.volume-off {
  height: 30px;
  width: 30px;
  background-image: url("../assets/svg/volumeOFFSVG32.svg");
}

.volume-percentage {
  height: 100%;
  width: 50%;
  background-color: violet;
}

/* settings */

.settings {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-icon {
  display: inline-block;
  width: 64pt;
  height: 64pt;
  background-image: url("../assets/svg/settingsSVG64.svg");
  cursor: pointer;
}

/* modal */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  transition: all 0.5s;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  background-color: black;
}

.modal-on {
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.modal_button {
  width: 100px;
  height: 40px;
  background-color: violet;
}

.button {
  width: 100px;
  height: 40px;
  border: 1px solid violet;
  color: white;
  background: transparent;
}

.button_active {
  background-color: violet;
  color: black;
}

.invisible-block {
  opacity: 0;
}
